<h1>Welcome <%=current_user.username%>   <b>All the subs<b></h1>
<br>
<br>
<%@subs.each do |sub|%>
<ul>
  <li><%= link_to sub.title, sub_url(sub) %></li>
  <li>authored_by <%=User.find(sub.moderator_id).username%></li>
  <br>
  <br>
  <% end %>
</ul>
<br>
<%=link_to "Create a new sub",new_sub_url%>
<br>
<%=button_to "Log Out",session_url,method: "delete"%>
